@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Book", FormMethod.Post))
{
    <table class="table">
        <tr>
            <td>ID</td>
            <td><input class="form-control" name="id" value="@Model.ID" /></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input class="form-control" name="Author" value="@Model.Author" /></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input class="form-control" name="Price" value="@Model.Price" /></td>
        </tr>
    </table>
    <button class="btn btn-primary" type="submit">確定</button><a href="~/Book/Index" class="btn btn-light">取消</a>
}