@model BookStore.Models.Book

@*@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/Error.cshtml";
}

<h2>NotFound</h2>*@

<asp:Content ID="Title" ContentPlaceHolderID="TitleContent" runat="server">
    Book Not Found
</asp:Content>

<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

    <h2>Book Not Found</h2>

    <p>很抱歉, 資料庫中無書籍.</p>

</asp:Content>