@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAngularjs.cshtml";
}
<h2>Create</h2>
@Html.AntiForgeryToken()
<div ng-controller="CreateCtrl">
    <table class="table">
        <tr>
            <td>ID</td>
            <td><input type="text" name="id" ng-model="Book.ID" /></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" name="author" ng-model="Book.Author" /></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" name="price" ng-model="Book.Price" /></td>
        </tr>
    </table>
    <a class="btn btn-primary" href="~/Book1/Create/0">新增</a>    
</div>
@section Scripts {
    <script>
        var bookid = @ViewBag.ID;
    </script>
    <script src="~/Scripts/WebApp/Book1/CreateCtrl.js"></script>
}