@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAngularjs.cshtml";
}
<h2>Delete</h2>
@Html.AntiForgeryToken()
<div ng-controller="DeleteCtrl">
    <table class="table">
        <tr>
            <td>確定要刪除</td>
        </tr>
    </table>
    <input class="btn btn-primary" type="button" value="確定" ng-click="DeleteBook()" />
</div>
@section Scripts {
    <script>
        var bookid = @ViewBag.ID;
    </script>
    <script src="~/Scripts/WebApp/Book1/DeleteCtrl.js"></script>
}